.dtdr-listings-attachment-holder .dtdr-listings-attachment-box-item,
.dtdr-listings-attachment-holder .dtdr-listings-attachment-box-item span,
.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item a,
.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item a:before {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/*----*****---- << Media Attachments >> ----*****----*/

.dtdr-listings-attachment-holder {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.dtdr-listings-attachment-holder .dtdr-listings-attachment-box-item {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.dtdr-listings-attachment-holder .dtdr-listings-attachment-box-item:not(:last-child) {
    margin-right: 25px;
}


/* Type 1 */

.dtdr-listings-attachment-holder.type1 .dtdr-listings-attachment-box-item {
    color: #000;
    font-size: 14px;
    /* align-items: center; */
    line-height: normal;
}

.dtdr-listings-attachment-holder.type1 .dtdr-listings-attachment-box-item span {
    position: relative;
    font-weight: 100;
    margin: 0 10px 0 0;
    font-family: "Font Awesome 5 Free";
}


/* Type 2 */


/* .dtdr-listings-attachment-holder.type2 {
    display: inline-grid;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    margin-bottom: 10px;
    grid-auto-flow: column;
} */

.dtdr-listings-attachment-holder.type2 .dtdr-listings-attachment-box-item {
    line-height: normal;
    font-size: 14px;
    /* display: flex;
    align-items: center; */
}

.dtdr-listings-attachment-holder.type2 .dtdr-listings-attachment-box-item span {
    min-width: 40px;
    min-height: 40px;
    position: relative;
    margin-right: 10px;
    font-family: "Font Awesome 5 Free";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.dtdr-listings-attachment-holder.type2 .dtdr-listings-attachment-box-item:not(:hover) span {
    color: #fff;
}


/* Type 3 */


/* .dtdr-listings-attachment-holder.type3 {
    display: flex;
    flex-wrap: wrap;
} */

.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item {
    /* align-items: center; */
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    /* display: flex;
    align-items: center; */
    position: relative;
}

.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item span {
    position: absolute;
    margin-right: 10px;
    font-weight: 600;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
}

.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item>a {
    padding: 15px 30px 15px 50px;
}

.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item:hover,
.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item:hover span,
.dtdr-listings-attachment-holder.type3 .dtdr-listings-attachment-box-item:hover a {
    color: #fff;
}


/* Type 4 */


/* .dtdr-listings-attachment-holder.type4 {
    display: flex;
    flex-wrap: wrap;
} */

.dtdr-listings-attachment-holder.type4 .dtdr-listings-attachment-box-item {
    /* align-items: center; */
    position: relative;
    /* display: grid;
    grid-template-columns: auto 100%; */
}

.dtdr-listings-attachment-holder.type4 .dtdr-listings-attachment-box-item a {
    padding: 15px 30px 15px 50px;
}

.dtdr-listings-attachment-holder.type4 .dtdr-listings-attachment-box-item span {
    position: absolute;
    /* margin-right: 10px; */
    font-weight: 600;
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
}

.dtdr-listings-attachment-holder.type4 .dtdr-listings-attachment-box-item span,
.dtdr-listings-attachment-holder.type4 .dtdr-listings-attachment-box-item a {
    color: #fff;
}


/* Type 5 */


/* .dtdr-listings-attachment-holder.type5 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
} */

.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item {
    line-height: normal;
    font-size: 14px;
    /* display: grid;
    align-items: center;
    grid-template-columns: auto 100%; */
}

.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item a {
    font-size: 0;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item a span {
    font-family: "Font Awesome 5 Free";
    position: relative;
    color: #000;
    font-size: initial;
    top: 0;
    left: 0;
}

.dtdr-listings-attachment-holder.type5 .dtdr-listings-attachment-box-item a:hover span {
    color: #fff;
}